<ol class="breadcrumb">
  <li class="active">流程表</li>
  <li><a href="javascript: window.history.go(-1);">返回</a></li>
  <li><%= link_to ' 添 加 ', new_flow_path, class: 'btn btn-primary'%></li>
</ol>

<%= render partial: 'flows/list', locals: {flows: @flows} %>
<hr/>
<%= will_paginate @flows %>
<br>


