// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controls input, select, textarea{
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #3276b1;
}

.controls input, select{
  height: 40px;
}

.help-inline{
  color: red;
}

//use dialog to choose images
.modal-dialog {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}